h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 30px;
    margin-top: 60px;
}